# Ignore Data and OLD folders
Data/
OLD/
Resources/
Results/
*pdf
*.html
.Rproj.user
.Rhistory
rsconnect/
IMPLEMENTATION_INSTRUCTIONS.md
*.R.checkpoint*
*.md
*_backup
Archived files/**
Archived\ files/**
.vscode/settings.json
process.R
process_rename.R
docs/
manuscript/psyarxiv/ShinyPROCESS_PsyArXiv_Preprint.docx
